body,
html {
  background-color: #2C3539;
  font-family: 'PT Sans', sans-serif !important;
}

.App {
  text-align: center;
  background-color: #2C3539
}

h4 {
  margin-top: 1rem !important;
  color: white;
}

p {
  color: white;
}

.login-btn {
  margin-top: 3rem;
}

.form-label {
  color:  white;
}

.form {
  width: 75%;
  margin: auto;
  margin-top: 5rem;
}

.login-form {
  width: 40%;
  margin: auto;
  margin-top: 5rem;
}

@media (max-width: 500px) {
  .form {
    width: 95%
  }
  .login-form {
    width: 60%;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
  -moz-appearance:textfield;
}

.table {
  width: 95% !important;
  margin: auto;
}

.error {
  color: red;
}

.user-table {
  background-color: whitesmoke;
}